<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Veises.Neural.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Veises.Neural.Properties.Settings>
      <setting name="LearningRate" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="Momentum" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="LearningTestAcceptance" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="InputThreshold" serializeAs="String">
        <value>0.5</value>
      </setting>
    </Veises.Neural.Properties.Settings>
  </applicationSettings>
</configuration>